::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:   $color-light-gray
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    $color-light-gray;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    $color-light-gray;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    $color-light-gray;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    $color-light-gray;
}

::placeholder { /* Most modern browsers support this now. */
   color:    $color-light-gray;
}


/* width */
::-webkit-scrollbar {
   width: 4px;
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: #e9e1ff;
   border-radius: 10px;
   
 }
 