@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin absBottomRight {
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-90%, -90%);
}

@mixin absBottomLeftCenter {
    position: absolute;
    top: 75%;
    left: 75%;
    transform: translate(-90%, -90%);
}

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}