.TitleBar {
    color: $title-bar-text-color;
    background-color: $title-bar-bg-color;
    border: $title-bar-border;
    font-size: 14px;
    padding: 0px 10px 0px 10px;
    height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 1px;
    top: -1px;
    width: $chat-window-width - 20px;

    > p {
        padding: 0px;
        margin: 0px;
    }
}

